@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color:#987259;
}

header {
    background-color:#edeeed;
    padding: 15px;
    box-shadow: 1px 1px 4px black;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-size: 40px;
}

main {
    background-image: url('imagens/fundo-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.conteudo-principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

.carrosel {
    background-color: #ffff;
    width: 280px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trufas-carrosel {
    border-radius: 10px;
    width: 250px;
}
